.wrapper {
  flex-direction: row;
  display: flex;
  height: 100vh;
}

.wrapper aside {
  border-right: 1px solid #333;
  padding: 15px;
  font-size: 12px;
  background-color: #222;
  color: #fff;
}

.wrapper aside div[class^='react-flow__node-'] {
  width: 100%;
  box-sizing: border-box;
  font-size: 12px;
  width: 40px;
  height: 40px;
  position: relative;
  color: #fff;
  cursor: grab;
  margin-bottom: 35px;
}

.wrapper .rfWrapper {
  flex-grow: 1;
  height: 100%;
}

.wrapper .react-flow__handle {
  background: #ddd;
  box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.5);
}

.wrapper .react-flow__node-node {
  background: rgba(83, 41, 75, 0.502);
  box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.1);
  border: 1px solid #eee;
  width: auto;
  height: auto;
  text-align: center;
  border-radius: 2px;
}

.wrapper .label {
  position: absolute;
  bottom: 0;
  width: 100px;
  left: 50%;
  transform: translate(-50%, 120%);
  color: #f5f5f5;
  font-size: 12px;
}

.wrapper .inputCentered {
  position: absolute;
  width: 100%;
  color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper .textareaNode {
  background-color: rgba(0, 0, 0, 0.502);
  font-size: 7px;
  min-height: 50px;
  min-width: 110px;
  max-width: 300px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.wrapper .outputNode {
  background-color: rgba(255, 255, 255, 0.477);
  color: black;
  resize: none;
  outline: none;
  font-size: 8px;
  border: 1px solid #eee;
  padding: 4px;
}

.wrapper .buttonArea {
  background-color: rgba(99, 32, 86, 0.502);
  bottom: 0;
  height: 15px;
}

.wrapper .cellButton {
  background-color: transparent;
  border-color: transparent;
  color: white;
  height: 100%;
  border-top: 0.2px solid #fff;
}

.wrapper .cellButton:disabled {
  background-color: transparent;
  border-color: transparent;
  color: white;
  height: 100%;
  border-top: 0.2px solid #fff;
  border-left: 0.2px solid #fff;
  opacity: 0.4;
  cursor: not-allowed;
}

.wrapper .bLeft {
  width: 50%;
  right: 50%;
  border-right: 0.2px solid #fff;
}

.wrapper .bRight {
  width: 50%;
  left: 50%;
  border-left: 0.2px solid #fff;
}

.wrapper .bRight:hover, .bLeft:hover{
  background-color: rgba(62, 20, 53, 0.502);
}

.wrapper .icon {
  margin-top: 2px;
  transform: scale(0.6);
}

.wrapper .executionCount {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 15%;
  width: 20%;
  right: 0;
  padding: 2px 5px;
  border-radius: 2px;
  font-size: 8px;
  color: #cdcdcd;
}

.wrapper .react-flow__node-node.selected,
.wrapper .react-flow__node-node:hover {
  box-shadow: 0px 0px 16px 0px rgba(255, 255, 255, 0.2);
  /* background-color: rgba(129, 57, 113, 0.502); */
}

.wrapper .react-flow__node-node.selected {
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.8);
}

.wrapper .react-flow__node-group {
  background: rgba(153, 26, 152, 0.1);
  border: 1px solid #fff;
  box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.5);
  resize: both;
  width: auto;
  /* border-radius: 5%; */
}

.wrapper .react-flow__node-group.active {
  box-shadow: 0px 0px 12px 0px rgba(255, 255, 255, 0.9);
}

.wrapper .react-flow__node-group.selected,
.wrapper .react-flow__node-group:hover {
  box-shadow: 0px 0px 12px 0px rgba(255, 255, 255, 0.5);
}

.wrapper .react-flow__node-group.selected {
  border-width: 1px;
}

.wrapper .react-flow {
  background: #222;
}

.wrapper .react-flow__node-toolbar {
  border-radius: 2px;
  overflow: hidden;
  box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.5);
}

.wrapper .react-flow__node-toolbar button {
  border-radius: 0;
  background: #eee;
  color: #111;
  font-size: 11px;
  border: none;
  padding: 5px 15px;
  cursor: pointer;
  font-weight: 700;
}

.wrapper .react-flow__node-toolbar button:hover {
  background-color: #ddd;
}

.wrapper .react-flow__node-toolbar button:nth-child(even) {
  border-left: 1px solid #999;
}
