.draggable {
    width: 12rem;
    height: 12rem;
    /* min-height: 6.5em; */
    margin: 1rem 0 0 1rem;
    background-color: #29e;
    color: white;
    border-radius: 0.75em;
    padding: 1%;
    touch-action: none;
    user-select: none;
    transform: translate(0px, 0px);
    /* put content in center */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
}

.textarea {
    width: 12em;
    height: 10.5em;
    border: none;
    background-color: rgb(88, 172, 232);
    padding: .5rem;
    border-radius: 0.75em;
    resize: none;
    outline: none;
    font-size: .75em;
    font-family: inherit;
    color: inherit;
    text-align: left;
}