.draggableOutput {
    width: 12rem;
    height: 12rem;
    /* min-height: 6.5em; */
    margin: 1rem 0 0 1rem;
    background-color: rgb(21, 138, 156);
    color: white;
    border-radius: 0.75em;
    padding: 1%;
    touch-action: none;
    user-select: none;
    transform: translate(0px, 0px);
    /* put content in center */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
}
