@import '../variables';
/* INFO :: sidebar*/
// .sidebar aside holds nodeContainer and settingsContainer
 .wrapper .sidebar aside {
    border-right: 1px solid #333;
    padding: 3px;
    font-size: 12px;
    font-weight: 600;
    background-color: $shared-bg-color;
    color: $shared-text-color;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

.wrapper .sidebar .label {
    color: #f5f5f5;
    font-size: 12px;
    margin-bottom: 1em;
}

// nodeContainer hold all 'react-flow__node-' and 'label' elements
.wrapper .sidebar .nodeContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 1em;
}

// settingsContainer holds autosave, settings and save button
.wrapper .sidebar .settingsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 0.5em;
    user-select: none;

    &:active{
        cursor: grabbing;
        box-shadow: 0px 0px 15px 2px rgba(255, 255, 255, 0.9)
    }

    .autoSaveContainer{
        margin-bottom: 1.1em;

        .autoSave{ 
            color: $shared-text-color;
            font-size: 10px ;
            font-weight: 1000;
        }

        $switch_width: 35px;
        $switch_height: 15px;
        $translate_x_minus: -(34px);
        $translate_x_plus: 6px;
        @include custom-switch($switch_width, $switch_height, $translate_x_minus, $translate_x_plus);
    }

    .settingsButton{
        margin-bottom: 0.5em;
    }

    .saveButton{
        margin-bottom: 0.1em;
    }
}

// INFO :: commong styling for all draggable nodes in the side bar
.wrapper .sidebar aside div[class^='react-flow__node-'] {
    box-sizing: border-box;
    font-size: 12px;
    width: 40px;
    height: 40px;
    color: $shared-text-color;
    margin-bottom: 0.2em;
}

/* INFO :: sidebar - code cell*/
/*color of the code cell*/
.wrapper .sidebar .react-flow__node-node {
    background: $node-background;
    box-shadow: $node-box-shadow-not-active;
    border: $node-border;
    width: auto;
    height: auto;
    text-align: center;
    border-radius: $node-border-radius;
}

/*shade around coding cell in sidebar when hovering over it / selecting it*/
.wrapper .sidebar .react-flow__node-node.selected ,
.wrapper .sidebar .react-flow__node-node:hover {
    box-shadow: $sidebar-node-box-shadow-selected-hover;
    border-width: $sidebar-node-border-width;
}

/* INFO :: sidebar - bubble cell*/
/*frame around bubble cell*/
.wrapper .sidebar .react-flow__node-group {
    background: $group-node-background;
    border: $node-border;
    box-shadow: $node-box-shadow-not-active;
    resize: both;
    width: auto;
}

/*shade around bubble cell when hovering/selecting */
.wrapper .sidebar .react-flow__node-group.selected,
.wrapper .sidebar .react-flow__node-group:hover {
    box-shadow: $sidebar-node-box-shadow-selected-hover;
    border-width: $sidebar-node-border-width;
}

/* INFO :: sidebar - markdown cell*/
.wrapper .sidebar .react-flow__node-mdNode {
    background: $markdown-node-background;
    border: $node-border;
    box-shadow: $node-box-shadow-not-active;
    resize: both;
    width: auto;
    border-radius: $node-border-radius;
}
/*shade around bubble cell when hovering/selecting */
.wrapper .sidebar .react-flow__node-mdNode.selected,
.wrapper .sidebar .react-flow__node-mdNode:hover {
    box-shadow: $sidebar-node-box-shadow-selected-hover;
    border-width: $sidebar-node-border-width;
}