// COMMENT - general - variables might be used across many files
$shared-bg-color: #222;
$shared-text-color: #fff;

// COMMENT - node - variables might be used across many files
$node-border-radius: 4px;
$node-border: 1px solid #fff;
$node-background: rgb(107, 65, 107);
$node-background-selected: rgb(135, 81, 135);
$group-node-background: rgba(153, 26, 152, 0.1);
$markdown-node-background: rgba(26, 36, 62, 0.502);
$node-box-shadow-not-active: 0px 0px 8px 0px rgba(255, 255, 255, 0.5);
$node-box-shadow-not-active-lighter: 0px 0px 8px 0px rgba(255, 255, 255, 0.2);
$node-box-shadow: 0px 0px 12px 0px rgba(255, 255, 255, 0.5);
$node-box-shadow-lighter: 0px 0px 12px 0px rgba(255, 255, 255, 0.4);

//COMMENT - sidebar - variables might be used across many files
$sidebar-node-box-shadow-selected-hover: 0px 0px 16px 0px rgba(255, 255, 255, 0.5);
$sidebar-node-border-width: 2px;

// COMMENT - minimap & controls - variables might be used across many files
$minimap-controls-box-shadow: 0px 0px 16px 0 rgba(0, 0, 0, 0.7);
$minimap-controls-border: 1px solid #95679e;

// COMMENT - toolbar
$toolbar-background: #b6b6b6;